@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
#main_img {
  width: 35%;
}
body {
  font-family: "Lobster", cursive;
  background-color: rgb(212, 192, 167);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  background-color: #333;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  width: 33.33%;
  margin: 10px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(70, 65, 65);
  color: white;
  text-align: center;
}
